.about-start .content{
    padding-top: 7%;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    color: rgba(203, 232, 247, 0.722);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}
.about-start .descrption{
padding: 5%;
}
.about-start .image{
    width: fit-content;
    height: fit-content;
    padding: 5%;
}
.about-start .image img{
    height: 200px;
}

.about-start p{
    padding: 20px;
    font-size: medium;
}