*{
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
 .blog-start .blog {
    color: black;
    padding: 10px;
    text-align: center;
  }

  .blog-start .blog img{
    margin-right: 20px;
    margin-top: -10px;
    align-items: right;
     width: 100px ;
     height: 60px;
  }
  
  .blog-start  .container-blog {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    place-content: center;
    width: 100%;
    margin-bottom: 10%;
  }
  
  .blog-start  .upcoming-events {
    /* flex-basis: 50%; */
    padding: 20px;
    /* text-align: left; */
    width: 65%;
}

.blog-start .para{
  padding: 20px;
  display: grid;
  grid-template-columns: 85% 15%;
  gap: 20px;
}

.blog-start  .event {

    gap: 10px;
    color: black;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .blog-start  .event h2 {
    color: black;
    align-items: left;
    font-size: 24px;
    margin: 0;  
    padding: 10px;
  }
  
  .blog-start  .event p {
    font-size: 16px;
  }
  
  .blog-start  .event img {
    float: left;
    margin-right: 10px;
    max-width: 150px;
  }
  
  .blog-start .button {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #00C0F0;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;  
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .blog-start .button:hover {
    background-color: #abd4df;
  }
  .footer-start{
    margin-top: auto;
  }
  @media only screen and (max-width:1080px){
    .blog-start  .event{
      width: 100%;
      position: relative;
    }
    .blog-start  .upcoming-events{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 39px;
      width: 80%;
      place-content: center;
    }
    .blog-start .para {
      padding: 20px;
      display: inline-block;
      /* bottom: 10%; */
   }
    .blog-start .button{
      position: absolute;
      bottom: 2%;
      padding: 1%;
      left: 38%;
    }
    .blog-start .para p{
      margin-bottom: 10px;
    }
  }  
