*{
  margin: 0;
}
  
 .blog-start .blog {
    margin-top: 110px;
    color: black;
    padding: 10px;
    text-align: center;
  }

  .blog-start .blog img{
    margin-right: 20px;
    margin-top: -10px;
    align-items: right;
     width: 100px ;
     height: 60px;
  }
  
  .blog-start  .container-blog {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  

  
  .blog-start  .upcoming-events {
    flex-basis: 50%;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
}

.blog-start .para{
  padding: 20px;

  display: grid;
  grid-template-columns: 85% 15%;
  gap: 20px;
}

.blog-start  .event {

    gap: 10px;
    color: black;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 1000px;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .blog-start  .event h2 {
    color: black;
    align-items: left;
    font-size: 24px;
    margin: 0;  
    padding: 10px;
  }
  
  .blog-start  .event p {
    font-size: 16px;
  }
  
  .blog-start  .event img {
    float: left;
    margin-right: 10px;
    max-width: 150px;
  }
  
  .blog-start .button {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #00C0F0;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;  
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .blog-start .button:hover {
    background-color: #abd4df;
  }
  
  
