
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
}
.footer-start{
    margin-top: 100px;
    width: 100%;
}

.footer-start .footer{
    position: relative;
    width: 100%;
    background-color: rgb(36, 137, 252);
    min-height: 100px;
    padding-bottom: 0;
}

.footer-start .footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/wave.png");
   background-size: 1000px 100px;
   }
 .footer-start  .footer .wave#wave1{
       z-index: 1000;
       opacity: 1;
       bottom: 0;
       animation: animatewave 4s linear infinite;
   }
.footer-start   .footer .wave#wave2{
       z-index: 999;
       opacity: 0.5;
       bottom: 10px;
       animation: animatewave2 4s linear infinite;
   }
.footer-start   .footer .wave#wave3{
       z-index: 1000;
       opacity: 0.2;
       bottom: 15px;
       animation: animatewave 3s linear infinite;
   }
.footer-start   .footer .wave#wave4{
       z-index: 999;
       opacity: 0.7;
       bottom: 20px;
       animation: animatewave2 3s linear infinite;
   }
   @keyframes animatewave{
       0%{
           background-position-x: 1000px;
   
       }
       100%{
           background-position-x: 0px;
           
       }
   }
   @keyframes animatewave2{
       0%{
           background-position-x: 0px;
   
       }
       100%{
           background-position-x: 1000px;
           
       }
   }

.footer-start .tables{
    display: flex;
}
.footer-start table{
    padding: 30px;
    margin: 30px;
}
.footer-start table th{
    color: rgb(194, 253, 253);
    font-size: x-large;
    padding-bottom: 30px;
}
.footer-start table td {
    text-decoration: none;
    color: rgb(159, 179, 198);
    font-size: large;
    padding-bottom: 5px;
}
.footer-start table td a{
    text-decoration: none;
    color: rgb(159, 179, 198);
    font-size: large;
    padding-bottom: 5px;
    transition: 0.5s;
}

.footer-start table td a:hover{
    color: rgb(236, 243, 246);
    padding-left: 10px;
}

.footer-start ion-icon {
    padding-right: 10px;
}
.footer-start .whitebox{
    background-color: white;
    padding: 20px;
    margin: 0;
}
.footer-start .whitebox .imgs{
    gap: 20px;    
    display: flex;
    justify-content: center;
}

.footer-start  .footer p{
    color: rgb(10, 4, 41);
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
   
