
img{
    float: left;
    max-width: 50%;
    max-height: auto;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif; 
    text-decoration: none;
    /* background-color: #9caeb4; */
    
} 

.team{
     position: relative;
    width: 100%; 
     /* height: 0vh;   */
    background: radial-gradient(#0f9fcf); 
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
} 

.team-content{
    width: 50%;
    max-width: 1350px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center; 
    gap: 2rem; 
    text-align: center;
    margin-top: 4rem; 
}
    
.team-content img{ 
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center h1{
    color:black;
    font-size: 2rem;
    text-align: center;
} 

.box{
    padding: 16px;
    background: #03437a;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3{
    font-size: 23px;

    font-weight: 600;
    color: hsl(180, 27%, 94%);
    margin-bottom: 8px;
}

.box h5{
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover{
    transform: scale(1.2);
}

.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}  



