body {
    background: radial-gradient(circle, rgb(147, 171, 195) 0%, rgb(235, 238, 241) 69%, rgb(9, 70, 150) 100%);

}
#Y24-25 ,#Y23-24 ,#Y22-23{
    height :800px;
    width:1000px;
    background-color: black;
    color:rgb(175, 204, 230);
}
#Y24-25 ,#Y22-23,#Y23-24{
    
    height :80%;
    width:80%;
    min-width: 315px;
    background-color: black;
    color:aliceblue;
    display: flex;
    margin :20px auto;
    background: rgba(226, 226, 237, 0.735);
    border: 1.2px solid rgb(11, 14, 48);
    border-radius: 20px;

}
.OMember{
    height:200px;
    width:200px;
}
.Title{
    text-align: center;
    color: rgb(15, 15, 40);
    margin-bottom: 20px;
}
.Title h1{
    font-style: italic ;
    font-size: 65px;
}
a { color: white; } 
.Anc-links a:hover{
  color: rgb(19, 19, 32);
  text-decoration: none;
}

.Cast{
    width:120px;
    height:40px;
    padding: 20px;
    font-family:  sans-serif bold;
    text-decoration: underline;
    font-size: 50px;
    text-align: center;
    margin:50px auto;
    transition: 0.1s font-size ease-in 0s;
}
.Cast:hover{
    font-size: 52px;
}
.card:hover{
    box-shadow: 0.2px 0.8px 1.5px rgb(1, 2, 5);

}

.card{
    height:220px;
    width:180px;
    border :0.2px solid black;
    border-radius: 10px ;
    margin: 10px;
    transition:2s box-shadow ease-in 0s;
    transition:2s text-decoration ease 0s;
    background-color: rgba(151, 151, 234, 0.669);
    padding-left: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.card img{
    width: 200px;
    height:100px;
    margin-left:32px;
    margin-right:32px;
    border-radius: 5px;
    transition: 1.1s border-radius ease 0s ;
}
.card h2{
    color: #3b67aded;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
}
.card h5{
    margin: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.597);
    text-align: center;
}

.AllCast{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height:300px;
    width:900px;
    margin :10px auto;
}
.Title2{
    text-align: center;
}
